/* You can add global styles to this file, and also import other style files */

.pointer{
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background: #212121;
  border-radius: 50px;
}
::-webkit-scrollbar-corner{
  background: transparent;
}
